body{
    background-color: rgb(255, 255, 255);
    margin: 0;
}
#d1{
    text-align: center;
    background-color: lime;
    display: inline;
    padding-left: 15%;
    margin-left: 30%;
    border: 2px solid black;
}
h5{
    text-align: right;
    font-size: larger;
    margin-right: 35px;
    
}
h2{
    text-align: center;
    color: rgb(48, 211, 78);
    font-style:normal;
}
